<!-- Start Aside -->
<aside class="bg-neutral-900 w-2/12 border-r border-gray-400 shadow-xl text-white">
    <a data-page="/home.html" class="cursor-pointer">
        <svg class="scale-75 origin-center-left my-3 pointer-events-none" width="279" height="62"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path id="a"
                d="M83.46 25.83l4.378-14.102h5.738l4.34 14.102 4.893-14.102h5.959l-8.608 24.515h-4.082L90.67 19.18 85.3 36.243h-4.083L72.61 11.728h5.959L83.46 25.83zm28.287-14.102h5.518v24.515h-5.518V11.728zm11.587 0h5.517V21.81l9.306-10.083h6.805l-9.821 10.85c.846 1.17 2.428 3.362 4.708 6.54 2.281 3.179 3.973 5.554 5.113 7.125h-6.437l-7.246-9.682-2.464 2.74v6.942h-5.518V11.728h.037zm25.049 0h5.518v24.515h-5.518V11.728zm33.693 9.097l-6.657 13.408h-3.274l-6.621-13.408v15.418h-5.517V11.728h7.467l6.363 13.481 6.4-13.481h7.431v24.515h-5.518V20.825h-.074zm29.39-9.097v4.859h-12.285v5.078h11.035v4.677h-11.035v5.078h12.69v4.823H193.7V11.728h17.766zm24.13 3.215c2.354 2.155 3.531 5.115 3.531 8.914 0 3.8-1.14 6.832-3.458 9.061-2.28 2.229-5.811 3.325-10.52 3.325h-8.423V11.728h8.718c4.451 0 7.798 1.096 10.152 3.215zm-4.009 14.577c1.361-1.278 2.023-3.105 2.023-5.517 0-2.41-.662-4.274-2.023-5.553-1.361-1.315-3.421-1.936-6.217-1.936h-3.09V31.42h3.495c2.501 0 4.451-.62 5.812-1.9zm12.322-17.792h5.517v24.515h-5.517V11.728zm29.169 24.515l-2.281-5.298h-10.336l-2.28 5.298h-5.849l10.667-24.515h5.334L279 36.243h-5.922zm-7.467-17.208l-3.09 7.124h6.18l-3.09-7.124zM82.651 47.386v2.96h4.782v1.68h-4.781v4.42h-1.84v-10.74h7.21v1.68h-5.37zm25.822 7.526c-1.103 1.06-2.427 1.571-4.046 1.571-1.618 0-2.942-.511-4.046-1.57-1.103-1.06-1.655-2.376-1.655-3.947 0-1.57.552-2.886 1.655-3.945 1.104-1.06 2.428-1.571 4.046-1.571 1.619 0 2.943.511 4.046 1.57 1.104 1.06 1.656 2.375 1.656 3.946 0 1.571-.552 2.887-1.656 3.946zm-1.324-6.686c-.735-.767-1.655-1.132-2.722-1.132-1.066 0-1.986.365-2.722 1.132a3.825 3.825 0 00-1.103 2.74c0 1.096.368 2.01 1.103 2.74.736.731 1.656 1.133 2.722 1.133 1.067 0 1.987-.365 2.722-1.133a3.822 3.822 0 001.104-2.74c0-1.096-.368-2.009-1.104-2.74zm16.957 5.736c.478.585 1.177.877 2.023.877.846 0 1.508-.292 2.023-.877.515-.584.736-1.352.736-2.338v-5.955h1.839v6.028c0 1.535-.441 2.74-1.287 3.58-.846.84-1.95 1.243-3.274 1.243s-2.428-.402-3.274-1.242c-.846-.84-1.287-2.01-1.287-3.58v-6.03h1.839v5.956c-.073.986.184 1.754.662 2.338zm26.815-8.293h1.839V56.41h-1.986l-6.106-7.818v7.818h-1.839V45.67h1.839l6.29 8.001v-8.001h-.037zm22.254 1.425c1.03.95 1.545 2.228 1.545 3.909 0 1.68-.515 2.996-1.508 3.946-.993.986-2.538 1.461-4.635 1.461h-3.568V45.67h3.715c1.913 0 3.421.475 4.451 1.425zm-.258 3.945c0-2.447-1.434-3.69-4.23-3.69h-1.839v7.344h2.023c1.325 0 2.318-.292 3.017-.913.662-.622 1.029-1.535 1.029-2.74zm14.971 2.923l-1.067 2.448h-1.949l4.745-10.741h1.95l4.745 10.741h-1.95l-1.067-2.448h-5.407zm4.672-1.68l-1.95-4.421-1.949 4.42h3.899zm17.766-4.933v9.061h-1.839v-9.06h-3.274v-1.645h8.387v1.644h-3.274zm14.529-1.68h1.839V56.41h-1.839V45.67zm23.1 9.243c-1.103 1.06-2.428 1.571-4.046 1.571-1.619 0-2.943-.511-4.046-1.57-1.104-1.06-1.655-2.376-1.655-3.947 0-1.57.551-2.886 1.655-3.945 1.103-1.06 2.427-1.571 4.046-1.571 1.618 0 2.943.511 4.046 1.57 1.104 1.06 1.655 2.375 1.655 3.946 0 1.571-.551 2.887-1.655 3.946zm-1.324-6.686c-.736-.767-1.655-1.132-2.722-1.132s-1.986.365-2.722 1.132a3.822 3.822 0 00-1.104 2.74c0 1.096.368 2.01 1.104 2.74.736.731 1.655 1.133 2.722 1.133s1.986-.365 2.722-1.133a3.82 3.82 0 001.103-2.74c0-1.096-.367-2.009-1.103-2.74zm22.621-2.557h1.84V56.41h-1.987l-6.106-7.818v7.818h-1.839V45.67h1.839l6.29 8.001-.037-8.001zM33.84 49.943c9.307-1.315 16.442-9.243 16.442-18.815 0-5.846-2.648-11.034-6.804-14.541l-9.638 9.572v23.784zm-5.407 0V26.16l-9.637-9.609a18.896 18.896 0 00-6.805 14.541c0 9.61 7.136 17.537 16.442 18.852zm19.348-35.365c4.451 4.42 6.879 10.302 6.879 16.513 0 6.211-2.465 12.13-6.879 16.514-4.45 4.42-10.373 6.832-16.626 6.832a23.545 23.545 0 01-16.626-6.832c-4.414-4.384-6.915-10.266-6.915-16.514 0-6.247 2.465-12.13 6.879-16.514.367-.365.772-.73 1.177-1.096L10.3 8.147c-.405.366-.773.731-1.178 1.096-2.869 2.85-5.113 6.138-6.658 9.828A30.563 30.563 0 000 31.091c0 4.165.81 8.22 2.464 12.02 1.582 3.69 3.826 6.979 6.658 9.828 2.87 2.85 6.18 5.079 9.895 6.613A31.132 31.132 0 0031.119 62c4.193 0 8.276-.804 12.101-2.448a31.698 31.698 0 009.895-6.613c2.869-2.85 5.113-6.138 6.658-9.828a30.565 30.565 0 002.464-12.02c0-4.165-.81-8.22-2.464-12.02-1.582-3.69-3.826-6.978-6.658-9.828-.368-.365-.773-.73-1.177-1.096l-5.334 5.334c.405.33.773.695 1.177 1.097zM31.12 0c5.37 0 9.71 4.311 9.71 9.645s-4.34 9.646-9.71 9.646c-5.37 0-9.711-4.312-9.711-9.646 0-5.334 4.34-9.645 9.71-9.645z"
                fill="white" />
        </svg>
    </a>

    <hr class="border-1 border-neutral-500" />
    <div class="pl-4">
        <h2 class="text-2xl font-bold mb-4 pt-4">FR Email Toolkit</h2>
        <ul class="space-y-2 text-lg list-inside list-disc">
            <li>
                <a class="menu-link cursor-pointer text-neutral-300 hover:text-white transition-all duration-500" data-page="/email-design-layouts.html">Email Design Layouts</a>
                <ul class="ml-5 mt-2 space-y-2 text-base list-inside list-disc">
                    <li><a class="menu-link cursor-pointer text-neutral-300 hover:text-white transition-all duration-500" data-page="/designs/design-layouts-library.html">Design Layouts Library</a></li>
                    <li><a class="menu-link cursor-pointer text-neutral-300 hover:text-white transition-all duration-500" data-page="/designs/rml-fy2324.html">RML FY2324 Controls & Redesign</a></li>
                </ul>
            </li>
            <li><a class="menu-link cursor-pointer text-neutral-300 hover:text-white transition-all duration-500" data-page="/email-diff-checker.html">Email Diff Checker</a></li>
        </ul>
    </div>
</aside>
<!-- End Aside -->