<!-- Get the H1 from the JSON. -->
<meta class="hidden" id="metadata" data-json="rml-fy2324.json"  ></meta> 
<h1 class="text-2xl font-bold mb-4">RML FY2324 Controls & Redesign</h1>
<section class="flex h-screen gap-4">
    <!-- Design Selector -->
    <div class="w-1/4 bg-gray-100">
        <h2 class="text-lg font-bold mb-4">Select a design:</h2>
        <div class="overflow-auto h-full pr-4 pb-4" id="design-selector-container">
            <div class="flex" id="tab-selectors"></div>
        </div>
    </div>

    <!-- Design Preview -->
    <div class="flex-1">
        <iframe id="design-preview" srcdoc="Pick a design from the left panel!" class="w-full h-full border border-black"></iframe>
    </div>
</section>
<script src="https://people.wikimedia.org/~ppenloglou/fr-email-toolkit/js/email-design-layouts/emailDesignLayouts.js" defer></script>