<h1 class="text-2xl font-bold mb-4">Email Design Layouts</h1>
<a class="menu-link cursor-pointer text-neutral-300 hover:text-white transition-all duration-500" data-page="/designs/design-layouts-library.html">Design Layouts Library</a>
<a class="menu-link cursor-pointer text-neutral-300 hover:text-white transition-all duration-500" data-page="/designs/rml-fy2324.html">RML FY2324 Controls & Redesign</a>
