<h1 class="text-2xl font-bold mb-4">Email Diff Checker</h1>

<div class="flex flex-row justify-between mb-3">
  <ol class="text-base mb-4 list-decimal pl-4">
    <li>Copy and paste the email source code into areas <strong id="emailAHeading">Email A</strong> and <strong
        id="emailBHeading">Email B</strong>.</li>
    <li>Press <strong>Compare</strong>. The results will appear in the <strong
        id="diffCheckerResultsHeading">DiffChecker Results</strong> tab.<br />
        Content appearing as <del>deleted</del> belongs to Email <strong>A</strong> and is missing from Email <strong>B</strong>.<br />
        Content appearing as <ins>inserted</ins> belongs to Email <strong>B</strong> and is missing from Email <strong>A</strong>.</li>
    <em class="text-sm text-gray-600">Note: You can clear the source code areas by pressing <strong>Reset</strong>.</em>
  </ol>
  <div>
    <button id="compareButton" class="tab font-semibold bg-[#3a25ff] text-white py-2 px-4 rounded">Compare</button>
    <button id="resetButton" class="tab font-semibold bg-yellow-400 text-black py-2 px-4 rounded">Reset</button>
  </div>
</div>

<section id="emailDiffChecker" class="flex flex-row w-full gap-5">
  <div class="flex-1 flex flex-col">
    <p class="text-lg font-bold mb-4">Email A</p>
    <div class="flex mb-2">
      <button id="sourceCodeEmailATab"
        class="tab border-r border-gray-400 active bg-[#3a25ff] text-white py-2 px-4">Source Code</button>
      <button id="previewEmailATab" class="tab bg-gray-300 text-gray-600 py-2 px-4">Preview</button>
      <button id="diffCheckerResultsTab"
        class="tab border-l border-gray-400 bg-gray-300 text-gray-600 py-2 px-4">DiffChecker Results</button>
      <button id="copyButton"
        class="tab border-l border-gray-400 bg-gray-300 text-gray-600 py-2 px-4">Copy to Clipboard</button>
    </div>
    <div id="sourceCodeEmailA" class="content active flex-1">
      <textarea
        class="source-emailA h-[700px] p-4 text-xs font-mono border resize-none w-full outline-none focus:ring-[#3a25ff] focus:ring-1 transition duration-200 flex-1"
        name="EmailA" placeholder="Email A source code..."></textarea>
    </div>
    <div id="emailAIFrameParent" class="content hidden flex-1">
      <iframe id="emailAIFrame" class="w-full h-[700px] border bg-white" srcdoc="Add some source code first for Email A!"
        frameborder="0"></iframe>
    </div>
    <div id="diffCheckerResultsIFrameParent" class="content hidden flex-1">
      <iframe id="diffCheckerResultsIFrame" class="w-full h-[700px] border bg-white" srcdoc="Diffchecker Results will appear here when you press Compare!"
        frameborder="0"></iframe>
    </div>
  </div>
  <div class="flex-1 flex flex-col">
    <p class="text-lg font-bold mb-4">Email B</p>

    <div class="flex mb-2">
      <button id="sourceCodeEmailBTab" class="tab active bg-[#3a25ff] text-white py-2 px-4">Source Code</button>
      <button id="previewEmailBTab" class="tab bg-gray-300 text-gray-600 py-2 px-4">Preview</button>
    </div>
    <div id="sourceCodeEmailB" class="content active flex-1">
      <textarea
        class="source-emailB h-[700px] p-4 text-xs font-mono border resize-none w-full outline-none focus:ring-[#3a25ff] focus:ring-1 transition duration-200 flex-1"
        name="EmailB" placeholder="Email B source code..."></textarea>
    </div>
    <div id="emailBIFrameParent" class="content hidden flex-1">
      <iframe id="emailBIFrame" class="w-full h-[700px] border bg-white" srcdoc="Add some source code first for Email B!"
        frameborder="0"></iframe>
    </div>
  </div>
</section>
<script src="https://people.wikimedia.org/~ppenloglou/fr-email-toolkit/js/email-diff-checker/domtoimage.js" defer></script>
<script src="https://people.wikimedia.org/~ppenloglou/fr-email-toolkit/js/email-diff-checker/emailDiffChecker.js" defer></script>